@model IEnumerable<Information_System_Of_The_Project_Organization.Models.TotalCostFromPacts>

@{
    ViewData["Title"] = "Get Total Cost From Pacts";
}

<h1>Total Cost From Pacts</h1>

<form asp-action="GetTotalCostFromPacts" asp-controller="PactProjects" method="get">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" />
    </div>
    <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" />
    </div>
    <button type="submit">Show Projects</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
            </tr>
        }
    </tbody>
</table>
