@model Information_System_Of_The_Project_Organization.Models.ProjectEmployee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProjectEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProject" class="control-label"></label>
                <input asp-for="IdProject" class="form-control" />
                <span asp-validation-for="IdProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label"></label>
                <input asp-for="IdEmployee" class="form-control" />
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdResponsibility" class="control-label"></label>
                <input asp-for="IdResponsibility" class="form-control" />
                <span asp-validation-for="IdResponsibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DismissalDate" class="control-label"></label>
                <input asp-for="DismissalDate" class="form-control" />
                <span asp-validation-for="DismissalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
