@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chpose what you need</h1>
    <p>@Html.ActionLink("Show Tables", "ShowTables", "Home")</p>
    <p>@Html.ActionLink("Storage Procedure", "StorageProcedure", "Home")</p>
</div>
